@model MvcAuth.Datos.TB_DEPARTAMENTO

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>

<div style="text-align:center">
    <h4>TB_DEPARTAMENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.NOM_DEP)
        </dd>

        <dd>
            <img width="500" height="500" src="@Url.Action("convertirImagen", "Home", new {codigoDepa = Model.COD_DEP})" />
        </dd>

        <dt>
            @Html.DisplayName("Tipo de Departamento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_TIPODEPARTAMENTO.NOM_TIPDEP)
        </dd>

        <dt>
            @Html.DisplayName("Número de Pisos")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRO_PISO)
        </dd>

        <dt>
            @Html.DisplayName("Número de Habitaciones")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_HABITACIONES)
        </dd>

        <dt>
            @Html.DisplayName("Precio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRITO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_DISTRITO.NOM_DIS)
        </dd>


    </dl>
    @Html.ActionLink("Detalle", "Details", new { id = Model.ID })
    <button type="button" class="modal-link btn btn-success"
            data-toggle="modal" data-target="#modal-container"
            style="font-size: 17px;">
        Contactar
    </button>

    <form action="/Contacto/Crear" method="post">
        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <label for="comment" style="margin:auto;"><b>Necesito más información sobre el inmueble</b></label>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input placeholder="Ingrese su Codigo" name="txtCodigo" value="@Model.ID" class="e-input jv-alphanumeric form-control" style="width: 100%">
                        </div>
                        <div class="form-group">
                            <input placeholder="Ingrese su nombre" name="txtName" value="" class="e-input jv-alphanumeric form-control" style="width: 100%">
                        </div>
                        <div class="form-group">
                            <input placeholder="Ingrese su Email" name="txtEmail" value="" class="e-input jv-email form-control" style="width: 100%">
                        </div>
                        <div class="form-group">
                            <input placeholder="Ingrese su teléfono" name="txtPhone" value="" class="e-input phone jv-phone form-control" style="width: 100%">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="10" placeholder="Máximo 500 caracteres" id="text-content" style="width: 100%;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-link btn btn-default"
                                data-toggle="modal" data-target="#modal-container"
                                style="font-size: 17px; margin:auto; width:100%; background-color:orangered;">
                            Enviar<span class="icon-contact"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

