@model MvcAuth.Models.Departamento
<!-- Masthead -->
<header class="masthead">
    <div class="container h-100">
            <div class="">
                <br /><br />
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-info font-weight-bold">Encuentra tu mejor experiencia!</h1>
                    <hr class="divider my-auto">
                </div>
                <div>
                    <p class="text-white-75 font-weight-light mb-5">Es fácil, solo dirigete a nuestras ofertas!</p>
                    <br /><br />
                          <div style="border:dotted 2px #297789; border-collapse:separate; border-spacing:100px;">
                              @using (Html.BeginForm("ListadoDepartamentos", "Home", FormMethod.Post, new { style = "display:flex; padding:20px;" }))
                              {
                                  @Html.DropDownList("idT", ViewBag.tipo as SelectList, "Tipo de Departamento", new { style = "margin:auto 5px;", @class = "custom-select" })

                                  @Html.DropDownList("idD", ViewBag.distrito as SelectList, "Distrito", new { style = "margin:auto 5px;", @class = "custom-select" })
                                  <input type="text" name="nom" value="@ViewBag.nomdep" class="form-control" placeholder="Buscar por descripción o código" style="width:100%; margin:auto 5px;"/>
                                  @*<a class="btn btn-primary btn-xl js-scroll-trigger" href="Buscar/ListadoDepartamentos?nom=Dep" style="margin-top: -10px;">Buscar</a>*@

                                  <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Buscar" />
                                  }
                              </div>
                </div>
        </div>
    </div>
</header>

<!-- Portfolio Section -->
<section id="portfolio">
    <div style="background: black;">
        <h3 style="text-align: center;font-family: cursive;color: brown;">La mejores ofertas!</h3>
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("convertirImagen", "Home", new {codigoDepa = 7})">
                        <img class="img-fluid" src="@Url.Action("convertirImagen", "Home", new {codigoDepa = 7})" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoría
                            </div>
                            <div class="project-name">
                                Departamento Personal
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("convertirImagen", "Home", new {codigoDepa = 8})">
                        <img class="img-fluid" src="@Url.Action("convertirImagen", "Home", new {codigoDepa = 8})" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoría
                            </div>
                            <div class="project-name">
                                Duplex
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("convertirImagen", "Home", new {codigoDepa = 3})">
                        <img class="img-fluid" src="@Url.Action("convertirImagen", "Home", new {codigoDepa = 3})" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoría
                            </div>
                            <div class="project-name">
                                Departamento Playa
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("convertirImagen", "Home", new {codigoDepa = 9})">
                        <img class="img-fluid" src="@Url.Action("convertirImagen", "Home", new {codigoDepa = 9})" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoría
                            </div>
                            <div class="project-name">
                                Residencias
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("convertirImagen", "Home", new {codigoDepa = 5})">
                        <img class="img-fluid" src="@Url.Action("convertirImagen", "Home", new {codigoDepa = 5})" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Categoría
                            </div>
                            <div class="project-name">
                                Bunker
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("convertirImagen", "Home", new {codigoDepa = 6})">
                        <img class="img-fluid" src="@Url.Action("convertirImagen", "Home", new {codigoDepa = 6})" alt="">
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">
                                Categoría
                            </div>
                            <div class="project-name">
                                Departamento Familiar
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>