@model MvcAuth.Models.Departamento

@{
    ViewBag.Title = "Crear";
}

<h2>Registro de Departamento</h2>


@using (Html.BeginForm("Crear", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Departamento</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @try
            {
                @Html.DropDownListFor(model => model.tipo, ViewBag.tipo as SelectList, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
            }

            catch (Exception)
            {
            }

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.numpiso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numpiso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.numpiso, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.numhabi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numhabi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.numhabi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.foto, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="file" name="imagenCarga" value="" />
            @Html.ValidationMessageFor(model => model.foto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idDistrito, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @try
            {
                @Html.DropDownListFor(model => model.idDistrito, ViewBag.distrito as SelectList, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idDistrito, "", new { @class = "text-danger" })
            }

            catch (Exception)
            {
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idUsuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
