@model IEnumerable<MvcAuth.Models.TB_DEPARTAMENTO>

@{
    ViewBag.Title = "DepaPublicados";
}
<br /><br /><br /><br /><br />

<h2 style="text-align:center">Departamentos Publicados</h2>

<div style="width:90%; border:inset; margin: 0 0 0 50px">
    <table class="table">
        <tr>
            <th style="display:none;">
                @Html.DisplayNameFor(model => model.COD_DEP)
            </th>
            <th>
                @Html.DisplayName("TÍTULO")
            </th>
            <th>
                @Html.DisplayName("TIPO DE DEPARTAMENTO")
            </th>
            <th>
                @Html.DisplayName("PRECIO")
            </th>
            <th>
                @Html.DisplayName("DISTRITO")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.COD_DEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOM_DEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TB_TIPODEPARTAMENTO.NOM_TIPDEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRECIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TB_DISTRITO.NOM_DIS)
                </td>
                <td>
                    @Html.ActionLink("Interesados", "Interesados", new { id = item.COD_DEP })
                </td>
            </tr>
        }

    </table>

    @Html.ActionLink("Volver", "Index", "Manage", "", htmlAttributes: new { @class = "btn btn-lg btn-outline-info" })
</div>