@model MvcAuth.Models.AspNetUsers

@{
    ViewBag.Title = "Actualizar";
}

<br /><br /><br />

            <div style="background: linear-gradient(to bottom, #326487, white 80%, orange); margin:50px; padding:50px; border:dotted">

                <h4 style="display:contents;">Datos de Usuario</h4>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row" style="margin:auto auto auto 0">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group" style="width:50%;">
                            @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", style = "width:90%;" } })
                                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:50%;">
                            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", style = "width:90%;" } })
                                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:70%;">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "width:90%;" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.EmailConfirmed, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                <div class="checkbox">
                                    @Html.HiddenFor(model => model.EmailConfirmed)
                                    @Html.ValidationMessageFor(model => model.EmailConfirmed, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.HiddenFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.SecurityStamp, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.HiddenFor(model => model.SecurityStamp, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SecurityStamp, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:30%;">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", style = "width:85%;" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.PhoneNumberConfirmed, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                <div class="checkbox">
                                    @Html.HiddenFor(model => model.PhoneNumberConfirmed)
                                    @Html.ValidationMessageFor(model => model.PhoneNumberConfirmed, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.TwoFactorEnabled, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                <div class="checkbox">
                                    @Html.HiddenFor(model => model.TwoFactorEnabled)
                                    @Html.ValidationMessageFor(model => model.TwoFactorEnabled, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.LockoutEndDateUtc, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.HiddenFor(model => model.LockoutEndDateUtc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LockoutEndDateUtc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.LockoutEnabled, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                <div class="checkbox">
                                    @Html.HiddenFor(model => model.LockoutEnabled)
                                    @Html.ValidationMessageFor(model => model.LockoutEnabled, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(model => model.AccessFailedCount, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.HiddenFor(model => model.AccessFailedCount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccessFailedCount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:30%;">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", style = "width:90%;" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:70%;">
                            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", style = "width:95%;" } })
                                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:20%;">
                            @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control", style = "width:90%;" } })
                                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:30%;">
                            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date", style = "width:90%;"} })
                                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:30%;">
                            @Html.LabelFor(model => model.Dni, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control", style = "width:90%;" } })
                                @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="width:20%;">
                            @Html.LabelFor(model => model.EstadoCivil, htmlAttributes: new { @class = "control-label" })
                            <div class="col-xs-12 form-group">
                                @Html.EditorFor(model => model.EstadoCivil, new { htmlAttributes = new { @class = "form-control", style = "width:90%;" } })
                                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin:auto;">
                            <div class="col-md-offset-2 col-md-10" style="display:contents">
                                <input type="submit" value="Actualizar Datos" class="btn btn-lg btn-outline-primary" />
                                @Html.ActionLink("Volver", "Index", "Manage", "", htmlAttributes: new { @class = "btn btn-lg btn-outline-info" })
                            </div>
                        </div>
                    </div>
                }
            </div>
